@font-face {
  font-family: "Bodoni 72";
  src: url("../assets/fonts/Bodoni72.ttc") format("TrueType");
}
@font-face {
  font-family: "Futura PT Bold";
  src: url("../assets/fonts/FuturaPTBold.otf") format("OpenType");
}
@font-face {
  font-family: "Futura PT Book";
  src: url("../assets/fonts/FuturaPTBook.otf") format("OpenType");
}
html,
body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.boton {
  font-family: "Futura PT Bold";
  font-size: 16px;
  color: #3C3734;
  background-color: #F7EDDC;
  padding: 12px 32px;
  border-radius: 50px;
  display: block;
  box-sizing: border-box;
  width: -moz-fit-content;
  width: fit-content;
}

.boton:hover {
  opacity: 0.9;
}

/* ------ IPAD ------ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .boton {
    font-size: 21px;
  }
}
/* ------ DESKTOP ------ */
@media only screen and (min-width: 1025px) {
  .boton {
    font-family: "Futura PT Bold";
    font-size: 18px;
    background-color: #F7EDDC;
    padding: 10px 36px;
    border-radius: 50px;
    border: none;
  }
}
.content {
  background-image: url("../assets/img/home/img-home-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ECCDB7;
  margin: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_ingles {
  background-image: url("../assets/img/home/img-home-mobile-ingles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ECCDB7;
  margin: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ------ IPAD ------ */
@media only screen and (min-width: 650px) and (max-width: 850px) {
  .content {
    background-image: url("../assets/img/home/img-home-ipad.jpg");
  }
  .content_ingles {
    background-image: url("../assets/img/home/img-home-ipad-ingles.jpg");
  }
}
/* ------ DESKTOP ------ */
@media only screen and (min-width: 851px) {
  .content {
    background-image: url("../assets/img/home/img-home-desktop.jpg");
  }
  .content_ingles {
    background-image: url("../assets/img/home/img-home-desktop-ingles.jpg");
  }
}
footer {
  font-family: "Futura PT Book";
  font-size: 14px;
  color: #3C3734;
}

footer a:hover {
  opacity: 0.7;
}

.footer__mobile {
  font-size: 14px;
  margin-top: auto;
}

.footer__parte1 {
  background-color: #E8C5AD;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-between;
  padding: 1px 20px;
}

.footer__parte1__spice {
  display: flex;
  flex: row;
}

.footer__parte1__spice img {
  margin-right: 4px;
}

.footer__parte2 {
  background-color: #C1A18B;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-between;
  padding: 1px 20px;
}

.footer__parte2__spice {
  display: flex;
  flex: row;
  align-items: center;
}

.footer__parte2__spice p {
  margin-right: 4px;
}

.link__spice {
  text-decoration: underline;
}

.footer___Desktop {
  display: none;
}

/* ------ IPAD ------ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer___Mobile {
    font-size: 18px;
  }
}
/* ------ DESKTOP ------ */
@media only screen and (min-width: 1025px) {
  .footer___Mobile {
    display: none;
  }
  .footer___Desktop {
    display: flex;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-between;
    margin: 6px 140px;
  }
  footer {
    background-color: #ECCDB7;
  }
}
.body__menu {
  background-image: url("../assets/img/menu/img-menu-mobile2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px;
  background-color: #ECCDB7;
}

.content__menu {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ------ IPAD ------ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .body__menu {
    background-image: url("../assets/img/menu/img-menu-ipad.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
  }
  .content__menu {
    justify-content: space-between;
  }
}
/* ------ DESKTOP ------ */
@media only screen and (min-width: 1025px) {
  .body__menu {
    background-image: url("../assets/img/menu/img-menu-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
  }
}
header {
  margin: 40px 20px;
}

.header__general {
  display: flex;
  flex-direction: column;
}

.header__general__bloque {
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
}

.header__general__parte1__mobile {
  font-family: "Bodoni 72";
  font-size: 15px;
  margin-top: 12px;
  color: #3C3734;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 50px;
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
}

.header__general__parte1__mobile p {
  margin: 0px 4px;
}

.header__general__parte1__mobile a {
  margin: 0px 4px;
}

.header__general__parte1__desktop {
  display: none;
}

.header__general__parte1__home {
  color: white;
  background-color: rgba(105, 154, 168, 0.8078431373);
  border-radius: 50px;
  padding: 4px 6px;
}

.header__general__parte1__home p {
  color: #F7EDDC;
}

.header__general__parte1__home a {
  color: #F7EDDC;
}

.header__general__parte2 {
  display: flex;
  align-items: center;
}

.header__general__parte2__idioma {
  display: flex;
  font-family: "Futura PT Book";
  margin-right: 20px;
}

.header__general__parte2__idioma p {
  margin: 0px 8px;
  font-size: 15px;
}

.header__general__parte2__idioma__activo {
  font-family: "Futura PT Bold";
}

.hover__menu:hover {
  opacity: 0.9;
}

/* ------ IPAD ------ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header__general__parte1__mobile {
    font-size: 20px;
  }
  .header__general__parte2 {
    font-size: 18px;
  }
}
/* ------ DESKTOP ------ */
@media only screen and (min-width: 1025px) {
  header {
    margin: 60px 122px;
  }
  .header__general__parte1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .header__general__parte1__desktop {
    font-family: "Bodoni 72";
    text-transform: uppercase;
    display: block;
    flex-direction: column;
    margin-right: 10px;
    font-size: 17px;
    padding: 6px 18px;
    color: #3C3734;
  }
  .header__general__parte1__desktop p {
    margin: 0px;
  }
  .header__general__parte1__mobile {
    display: none;
  }
}
.main__menu {
  margin: 0px 20px;
}

.main__menu__bloque {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.main__menu__bloque__p {
  font-family: "Futura PT Bold";
  font-size: 16px;
  margin: 0px;
  margin-right: 6px;
}

.main__menu__bloque__mail {
  font-family: "Bodoni 72";
  font-size: 16px;
  margin: 0px;
}

.main__menu__bloque:hover {
  opacity: 0.7;
}

.main__menu__imagenes {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 30px 0px;
}

picture {
  display: flex;
  justify-content: flex-end;
}

.imagen-abuela-mobile {
  width: 80%;
}

/* ------ IPAD ------ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main__menu__bloque__p {
    font-size: 21px;
    margin-right: 6px;
  }
  .main__menu__bloque__mail {
    font-size: 21px;
  }
}
/* ------ DESKTOP ------ */
@media only screen and (min-width: 1025px) {
  .main__menu {
    margin: 60px 140px;
  }
  .main__menu__bloque {
    padding-bottom: 30px;
  }
  .main__menu__bloque__p {
    font-size: 18px;
    margin-right: 6px;
  }
  .main__menu__bloque__mail {
    font-size: 18px;
  }
  .main__menu__imagenes {
    margin: -20% 0px 30px 0px;
  }
  .footer___Desktop__menu {
    background-color: #E8C5AD;
  }
}/*# sourceMappingURL=estilos.css.map */