@font-face {
    font-family: "Bodoni 72";
    src:
        url("../assets/fonts/Bodoni72.ttc") format('TrueType');
}

@font-face {
    font-family: "Futura PT Bold";
    src:
        url("../assets/fonts/FuturaPTBold.otf") format('OpenType');
}

@font-face {
    font-family: "Futura PT Book";
    src:
        url("../assets/fonts/FuturaPTBook.otf") format('OpenType');
}