header {
    margin: 40px 20px;
}

.header__general {
    display: flex;
    flex-direction: column;
}

.header__general__bloque {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
}

.header__general__parte1__mobile {
    font-family: "Bodoni 72";
    font-size: 15px;
    margin-top: 12px;
    color: #3C3734;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 50px;
    display: inline;
    width: fit-content;
}

.header__general__parte1__mobile p {
    margin: 0px 4px;
}

.header__general__parte1__mobile a {
    margin: 0px 4px;
}

.header__general__parte1__desktop {
    display: none;
}

.header__general__parte1__home {
    color: white;
    background-color: #699aa8ce;
    border-radius: 50px;
}

.header__general__parte1__home p {
    color: #F7EDDC;
}

.header__general__parte1__home a {
    color: #F7EDDC;
}

.header__general__parte2 {
    display: flex;
    align-items: center;

}

.header__general__parte2__idioma {
    display: flex;
    font-family: "Futura PT Book";
    margin-right: 20px;
}

.header__general__parte2__idioma p {
    margin: 0px 8px;
    font-size: 15px;
}

.header__general__parte2__idioma__activo {
    font-family: "Futura PT Bold";
}


.hover__menu:hover {
    opacity: 0.9;
}



/* ------ IPAD ------ */

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .header__general__parte1__mobile {
        font-size: 20px;
    }

    .header__general__parte2 {
        font-size: 18px;
    }

}


/* ------ DESKTOP ------ */

@media only screen and (min-width: 1025px) {

    header {
        margin: 60px 122px;
    }

    .header__general__parte1 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .header__general__parte1__desktop {
        font-family: "Bodoni 72";
        text-transform: uppercase;
        display: block;
        flex-direction: column;
        margin-right: 10px;
        font-size: 17px;
        padding: 6px 18px;
        color: #3C3734;
    }

    .header__general__parte1__desktop p {
        margin: 0px;
    }

    .header__general__parte1__mobile {
        display: none;
    }
}