.body__home {
    background-image: url("../assets/img/home/img-home-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ECCDB7;
    margin: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* ------ IPAD ------ */

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .body__home {
        background-image: url("../assets/img/home/img-home-ipad.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0px;
        background-color: #ECCDB7;
    }

}


/* ------ DESKTOP ------ */

@media only screen and (min-width: 1025px) {

    .body__home {
        background-image: url("../assets/img/home/img-home-desktop.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #ECCDB7;
        margin: 0px;
    }

}