/* .main__home {
    display: flex;
    justify-content: center;
}

.logoGeneral {
    margin-bottom: 15%;
    margin-top: auto;
}




/* ------ IPAD ------ 

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .main__menu__bloque {
        padding-bottom: 60px;
    }

    .main__menu__bloque__p {
        font-size: 20px;
        margin-right: 6px;
    }

    .main__menu__bloque__mail {
        font-size: 20px;
    }

}

/* ------ AJUSTE LOGO ------ 

@media only screen and (min-width: 1023px) and (max-width: 1280px) {

    .cajaLogoGeneral {
        display: flex;
        justify-content: center;
    }

    .logoGeneral {
        width: 80%;
    }

} */